[user]
	name = ChrisAmora
	email = 27789416+ChrisAmora@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta
	; editor = code --wait
[pull]
	ff = only
[init]
	defaultBranch = main
[diff]
	tool = vimdiff2
[push]
	autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

